header, nav, main, footer { display: block; }
body { background-color: #F5F7FA;
       font-family: Verdana, Arial, sans-serif;
	   background-image:url(../images/Hotel_Entrance.png);
	   background-repeat: no-repeat;
	   background-size: cover;
	   background-attachment: fixed;
}
#wrapper { width: 960px;
           margin: auto;
	    background-color: #FFFFFF;
	    color: #1F3D7A;
	    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
           border-radius: 6px ;
}
h1 {   background-image: url('../images/Logo.png');
       background-size: 210px 200px;
       background-repeat: no-repeat;
       background-position: left center;
       padding-left: 200px;
       padding-top: 25px;
       background-color: #FFFFFF;
	height: 100px;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 2.5em;
       text-align: center;
       margin-bottom: 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
       color: #1F307A;

}
p {
font-size: 14px;
}
nav { background-color: #dee2e6;
      width: 210px; 
      float: left;
      padding-top: 10px;
      border-bottom-right-radius: 15px;
}
nav ul { list-style-type: none; 
       padding-left: 20px;
	 }
nav li { padding-bottom: 10px;
       font-weight: bold;
}
nav a { text-decoration: none; }
nav a:link { color: #395A7F; }
nav a:visited{ color:  #395A7F; }
nav a:hover { color: #FFFFFF; }


main { background-color: #FFFFFF;
          margin-left: 200px;
          padding: 1px 20px 20px 20px;   
		  min-height: 300px;
}

main h2 {
       color: #1F3D7A;
       margin-top: 10px;
}
main img { float: right;
           padding: 20px;
           border-radius: 50px;
}
.single-room-margin {
    margin-top: 40px;
}

footer { background-color: #FFFFFF;
       margin-left: 200px;
       padding: 20px;
       text-align: center;
	   font-size: small;
	   font-style: italic;
}
	  